asn1crypto==0.24.0
cryptography
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
meld3==1.0.2
olefile==0.45.1
Pillow
psycopg2==2.7.4
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.26
qrtools==1.4
SecretStorage==2.3.1
six==1.11.0
supervisor==3.3.3
unity-lens-photos==1.0
